.disabled {
    pointer-events:none; //This makes it not clickable
    opacity:0.6;         //This grays it out to look disabled
}

.enabled{
	pointer-events:visible; //This makes it not clickable
    opacity:0.6;         //This grays it out to look disabled
}

@media screen and (min-width: 1025px)
{
	#diagModal{padding-left: 50px !important;}
}

#comment{
   resize:vertical;/*will prevent resizing horizontally*/ 
}