<!DOCTYPE html>
<html lang="en" ng-app="MyApp">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <!-- Meta, title, CSS, favicons, etc. -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Dashboard Fase 5</title>
    <!-- AngulaJS -->
    <script src="js/lib/angular.js"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular-resource.js"></script>

    <!-- JQuery -->
    <script src="js/lib/jquery.js"></script>
    <!-- jVectorMap -->
    <link href="templates/production/css/maps/jquery-jvectormap-2.0.3.css" rel="stylesheet"/>
    <link href="style.css" rel="stylesheet">
    <link href="diagram.css" rel="stylesheet">

    <!-- Popover -->
    <script src="templates/vendors/bootstrap/js/tooltip.js"></script>
    <script src="templates/vendors/bootstrap/js/popover.js"></script>
    <!-- File Js Custom -->

    <script src="js/grid_controller.js" type="text/javascript"></script>
    <script src="js/writefeedback_controller.js" type="text/javascript"></script>
    <script src="js/sending_outcomes.js" type="text/javascript"></script>
    <script src="js/app.js" type="text/javascript"></script>
    <script src="js/feedback_controller.js" type="text/javascript"></script>
    <script src="js/bus_controller.js" type="text/javascript"></script>
    <script src="js/diagram_controller.js" type="text/javascript"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-router/0.3.1/angular-ui-router.min.js"></script>


    <script src="js/angular_services.js"></script>
    <script src="js/final_report_controller.js" type="text/javascript"></script>

    <script src="//cdnjs.cloudflare.com/ajax/libs/moment.js/2.7.0/moment.min.js"></script>

    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular-sanitize.js"></script>

    <!-- Bootstrap -->
    <link href="templates/vendors/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
    <!-- Font Awesome -->
    <link href="templates/vendors/font-awesome/css/font-awesome.min.css" rel="stylesheet">
    <!-- iCheck -->
    <link href="templates/vendors/iCheck/skins/flat/green.css" rel="stylesheet">
    <!-- bootstrap-progressbar -->
    <link href="templates/vendors/bootstrap-progressbar/css/bootstrap-progressbar-3.3.4.min.css" rel="stylesheet">
    <!-- Custom Theme Style -->
    <link href="templates/build/css/custom.min.css" rel="stylesheet">
    <!-- Switch -->
    <link href="templates/vendors/switchery/dist/switchery.min.css" rel="stylesheet">
    <!-- Select2 -->
    <link href="templates/vendors/select2/dist/css/select2.min.css" rel="stylesheet">
    <!-- starrr -->
    <link href="templates/vendors/starrr/dist/starrr.css" rel="stylesheet">

</head>


<body class="nav-md">

<div class="container body">
    <div class="main_container" style="min-height:4050px;">
        <div class="col-md-3 left_col">
            <div id="scrollId" class="left_col scroll-view">
                <div class="navbar nav_title" style="border:1;">
                    <a class="site_title"> <span>Dashboard Fase5</span></a>
                </div>
                <div class="clearfix"></div>
                <!-- menu profile quick info -->
                <div class="profile">
                    <div class="profile_pic">
                        <img src="templates/production/images/userPhase5.png" alt="..."
                             class="img-circle profile_img">
                    </div>
                    <div class="profile_info">
                        <span>Welcome,</span>
                        <h2 id="welcome"></h2>
                    </div>
                </div>
                <!-- /menu profile quick info -->

                <!-- sidebar menu -->
                <div id="sidebar-menu"
                     class="main_menu_side hidden-print main_menu">
                    <div class="menu_section" ng-init="selected_area=0">
                        <h3 ng-controller="busCtrl" ng-init="pullData()"> General</h3>
                        <ul class="nav side-menu">
                            <li><a>
                                <button id="pro" ng-disabled="selected_area===1"
                                        ng-click="$rootScope.div_show=true;selected_grid=false;selected_area=1;$rootScope.disableImportGrid=true;"
                                        style="background-color:background: #2A3F54;
  									  background-color: transparent;width:100%;border-style:none;text-align:left"><i
                                        class="fa fa-home"></i>&nbsp;&nbsp;Project&nbsp;&nbsp;
                                    <i id="proLoading" class="fa fa-spinner fa-spin" style="font-size:24px"></i>
                                </button>
                            </a></li>
                            <li id="Diagram" class="disabled" ng-click="selected_area=2"><a><i
                                    class="fa fa-bar-chart-o"></i> Diagram </a></li>
                            <li><a><i class="fa fa-edit"></i> FeedBack <span class="fa fa-chevron-down"></span></a>
                                <ul class="nav child_menu">
                                    <!-- 	 <li id="NewFeed" data-toggle="modal" data-target="#myModal" ><a><span class="glyphicon glyphicon-pencil" ></span>  New Retrospective ReportFase6</a></li>  -->
                                    <li id="NewFeed" ng-click="init(); selected_area = 10;"><a id="NewF"><span
                                            class="glyphicon glyphicon-pencil"></span> New Retrospective Report</a></li>
                                    <li id="ViewAll" ng-click="selected_area=4"><a><span
                                            class="glyphicon glyphicon-eye-open"></span> All Retrospective Report</a>
                                    </li>
                                </ul>
                            </li>
                            <li><a><i class="fa fa-envelope-o"></i> Sending Outcomes <span
                                    class="fa fa-chevron-down"></span></a>
                                <ul class="nav child_menu">
                                    <li id="SendingOutcomes" ng-click="selected_area=6;"><a><span
                                            class="glyphicon glyphicon-pencil"></span> Sending Outcomes</a></li>
                                    <li id="viewSendingOutcomes" ng-click="getAllsend(); selected_area=6;"><a><span
                                            class="glyphicon glyphicon-eye-open"></span> View All Sending Outcomes</a>
                                    </li>
                                </ul>
                            </li>
                            <li id="Report" ng-click="selected_area=5"><a><i class="fa fa-bar-chart-o"></i> Report from
                                phase 6 </a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <!-- top navigation -->
        <div class="top_nav">
            <div class="nav_menu">
                <nav class="" role="navigation">
                    <div class="nav toggle">
                        <a id="menu_toggle"><i class="fa fa-bars"></i></a>
                    </div>
                    <ul class="nav navbar-nav navbar-right">
                        <li class=""><a href="javascript:;"
                                        class="user-profile dropdown-toggle" data-toggle="dropdown"
                                        aria-expanded="false"> <img
                                src="templates/production/images/userPhase5.png" alt="" id="navbar"><span class=" fa fa-angle-down"></span>
                        </a>
                            <ul class="dropdown-menu dropdown-usermenu pull-right">
                                <li></li>
                                <li><a id="logout"><i class="fa fa-sign-out pull-right"></i> Log
                                    Out</a></li>
                            </ul>
                        </li>
                    </ul>
                </nav>
            </div>
        </div>
        <!-- /top navigation -->

        <!-- page content -->
        <div class="right_col" role="main" style="height: 1000%">
            <!-- top tiles -->
            <div class="row tile_count">
                <div class="col-md-2 col-sm-4 col-xs-6 tile_stats_count"></div>
                <div class="col-md-2 col-sm-4 col-xs-6 tile_stats_count"></div>
                <div class="col-md-2 col-sm-4 col-xs-6 tile_stats_count"></div>
                <div class="col-md-2 col-sm-4 col-xs-6 tile_stats_count"></div>
                <div class="col-md-2 col-sm-4 col-xs-6 tile_stats_count"></div>
                <div class="col-md-2 col-sm-4 col-xs-6 tile_stats_count"></div>
            </div> <!-- div class="row tile_count" -->
            <!-- /top tiles -->

            <!-- <div class="row col-md-9 col-sm-9 col-xs-12" ng-controller="busCtrl" ng-init="hideImport=false"><button id="btnBus" ng-click="completeRequest(null,null,null,null,null);checkRequest();hideImport=true; myProjectImport()" ng-show="!hideImport && selected_area===1"> Import from Bus</button></div> -->
            <div id="id_div" class="row col-md-9 col-sm-9 col-xs-12" ng-init="hideImport=false" ng-controller="busCtrl"
                 ng-show="$rootScope.div_show && selected_area===1">
                <!--ng-show="$rootScope.div_show && selected_area===1"-->
                <div class="col-md-9 col-sm-12 col-xs-12 col-lg-12" style="width: 100%">
                    <!--<div class="dashboard_graph" ng-controller="my Ctrl", ng-app="MyApp">-->
                    <!-- <div class="row x_title" ng-controller="ProjectCtrl" ng-show="showDiv"> -->
                    <div class="row x_title">
                        <div class="col-sm-4 col-sm-offset-8">
                            <!--<div class="col-md-4 col-xs-6" >-->

                            <!-- <button id="import_button" type="button"
                                class="btn btn-default btn-sm col-sm-12 "
                                ng-click="myProjectImport()"
                                ng-init="showRow = false ; hideRow = true">Import
                                Project</button> -->
                        </div> <!-- class="col-sm-4 col-sm-offset-8" -->
                        <div class="col-md-12 col-sm-9 col-xs-12">
                            <div id="placeholder33" style="height: 260px; display: none" class="demo-placeholder"></div>
                            <div style="width: 100%;">
                                <div class="x_panel">
                                    <div class="x_title">
                                        <h2>Project</h2>
                                        <ul class="nav navbar-right panel_toolbox">
                                        </ul>
                                        <div class="clearfix"></div>
                                    </div> <!-- div x_title -->
                                    <div class="x_content">
                                        <table class="table table-striped">
                                            <thead>
                                            <tr>
                                                <th>#</th>
                                                <th>Project ID</th>
                                                <th>Project Name</th>
                                                <th>Description</th>
                                            </tr>
                                            </thead>
                                            <tbody>
                                            <tr ng-show="showRow" ng-hide="hideRow">
                                                <th>{{$index + 1}}</th>
                                                <td>{{myProject.id }}</td>
                                                <td>{{myProject.title }}</td>
                                                <td>{{myProject.description }}</td>
                                                <td>
                                                    <button id="seleziona" class="btn btn-default btn-sm"
                                                            ng-click="selectProject(myProject.goalRef,myProject.projectID); enableDiagram();">
                                                        <strong>Seleziona</strong>
                                                    </button>
                                                </td>
                                            </tr>
                                            </tbody>
                                        </table>
                                    </div> <!-- div x_content -->

                                </div><!-- div x_panel -->


                            </div> <!-- div style =width 100% -->
                        </div> <!-- div class="col-md-12 col-sm-9 col-xs-12" -->
                    </div>    <!-- div row x_title -->
                </div> <!-- class="col-md-9 col-sm-12 col-xs-12 col-lg-12" -->
            </div> <!-- id="id_div" class="row"   ng-controller="ProjectCtrl" -->

            <!-- Start accordian -->
            <div class="accordion" id="accordiono" role="tablist"
                 aria-multiselectable="true" ng-controller="GridCtrl"
                 ng-if="selected_grid && selected_area===1"
                 ng-init="disableImportGrid = false;$rootScope.div_show=false;">
                <gridView id="grid">

                    <button id="label_grid" type="button" class="btn btn-default"
                            ng-click="append_goal('accordiono',myGoal)" ng-hide=true>
                        <!--ng-hide="disableImportGrid"--> Espandi Grid &nbsp;&nbsp;<span
                            class="glyphicon glyphicon-triangle-bottom" aria-hidden="true"></span></button>


                    <!-- <p ng-bind-html="htmTry"></p> -->
                </gridView>

            </div>
            <!-- End Accordian  -->
            <!-- Modal Example -->
            <div id="modalId" class="modal fade bs-example-modal-lg" tabindex="-1"
                 role="dialog" aria-hidden="true" style="padding-left:20px!important;">

                <div class="modal-dialog modal-lg">
                    <div class="modal-content">

                        <div class="modal-header">
                            <!-- <button id="btn_x" type="button" class="close" data-dismiss="modal">
                                <span aria-hidden="true">×</span>
                            </button> -->
                            <h4 class="modal-title" id="myModalLabel1">Grid Validation</h4>
                        </div>
                        <div class="modal-body">
                            <!-- Start Diagram Example -->
                            <div>
                                <div class="row">
                                    <div class="col-md-6 col-sm-6">
                                        <div class="title">
                                            <h2 id="graphTitle">
                                            </h2>

                                        </div>
                                    </div>
                                    <div class="col-md-3 col-sm-3">
                                        <div id="" class="btn-group " role="group">

                                            <button id="defaultMetric" name="defaultMetric" type="button"
                                                    class="btn btn-primary dropdown-toggle"
                                                    style="background-color:#337ab7; border-color: #2e6da4;"
                                                    data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                                Choose Metric
                                                <span class="caret"></span>
                                            </button>
                                            <ul id="dropdownMetric" class="dropdown-menu">

                                            </ul>
                                        </div>
                                    </div>
                                    <div class="col-md-3 col-sm-3">
                                        <div id="" class="btn-group " role="group">

                                            <button type="button" class="btn btn-primary dropdown-toggle"
                                                    style="background-color:#337ab7; border-color: #2e6da4;"
                                                    data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                                Choose Type Chart
                                                <span class="caret"></span>
                                            </button>
                                            <ul class="dropdown-menu">
                                                <li><a href="#" id="lineType">Line Chart</a></li>
                                                <li><a href="#" id="barType">Bar Chart</a></li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                                <div id="canvasContent" class="content">
                                    <canvas id="lineChart"></canvas><!-- oggetto contenente il diagramma -->
                                </div>
                                <!-- Selezione Stato -->
                                <div class=" col-md-9 col-sm-9 col-xs-12 col-md-offset-3">
                                    <div id="radiogroup">
                                        <div style="display: inline-block;">
                                            <button type="button" class="btn btn-default" name="validation"
                                                    id="unchecked" onclick="validation(this)">Unchecked
                                            </button>
                                        </div>
                                        <div style="display: inline-block;">
                                            <button type="button" class="btn btn-success" name="validation"
                                                    id="accepted" onclick="validation(this)">Accepted
                                            </button>
                                        </div>
                                        <div style="display: inline-block;">
                                            <button type="button" class="btn btn-danger" name="validation" id="rejected"
                                                    onclick="validation(this)">Rejected
                                            </button>
                                        </div>
                                    </div>

                                </div>
                                <!-- Fine selezione Stato -->
                            </div>
                            <!-- Fine DIagramma -->
                        </div><!-- fine modal body -->
                        <div class="modal-footer modal-lg"><!-- div modal footer -->
                            <div class="row">
                                <div class="col-lg-6 col-md-6 col-sm-6"></div>
                                <div class="col-lg-6 col-md-6 col-sm-6">
                                    <div id="modalButton">
                                        <button id="closeDiagram" type="button" class="btn btn-default"
                                                data-dismiss="modal" style="display:inline-block">Close
                                        </button>
                                        <button id="saveStatus" type="button" class="btn btn-primary"
                                                style="display:inline-block">Save
                                            changes
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div><!-- fine div modal footer -->

                    </div>
                </div>
            </div>

            <!-- End MOdale example -->

            <!-- Inizio Sending -->
            <div class="row " id="send_out" ng-controller="sendingOutcomesCtrl">
                <h1 class="col-md-12 col-sm-12 col-xs-12"> Sending Outcomes</h1>
                <p>Select the Project and the Corresponding feedback and send the results!</p>
                <div>
                    <div class="alert alert-danger" role="alert" id="error_out"><b>Warning!</b> You have not entered all
                        the data
                    </div>
                    <div class="alert alert-success" id="ok_out" role="alert"><b>Well done! Outcomes successfully sent
                        !</b></div>
                    <div class="col-md-12 col-sm-12 col-xs-12">
                        <div class="x_panel">
                            <div class="x_title">
                                <h2> Project </h2>
                                <div class="clearfix"></div>
                            </div>
                            <div class="x_content" ng-controller="sendingOutcomesCtrl">
                                <table class="table table-striped">
                                    <thead>
                                    <tr>
                                        <th>#</th>
                                        <th>Project ID</th>
                                        <th>Project Name</th>
                                        <th>Description</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr>
                                        <th>{{1}}</th>
                                        <td>{{myProject.id }}</td>
                                        <td>{{myProject.title }}</td>
                                        <td>{{myProject.description}}</td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                        <div class="x_panel" id="Send_out2">
                            <div class="x_title">
                                <h2> Improvements </h2>
                                <div class="clearfix"></div>
                            </div>
                            <div class="x_content" ng-controller="sendingOutcomesCtrl">
                                <table class="table table-striped">
                                    <thead>
                                    <tr>
                                        <th>#</th>
                                        <th>Goal name</th>
                                        <th>View details</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr ng-repeat="i in myimprovement">
                                        <th>{{$index + 1}}</th>
                                        <td>{{i.goal.title}}</td>
                                        <td>
                                            <button type="button" class="btn btn-dark" id={{i.improvementMessageId}}
                                                    data-ng-click="viewDetails(i.message)" data-toggle="modal"
                                                    data-target="#myModalRetrospective">View Details
                                            </button>
                                       <!-- <td><label><input type="checkbox" value={{i.improvementMessageId}}
                                                          id="imp{{i.improvementMessageId}}" name="iCheck2"></label>-->
                                        </td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                        <div class="x_panel">
                            <div class="x_title">
                                <h2> Comments </h2>
                                <div class="clearfix"></div>
                            </div>
                            <div class="x_content">
                                <textarea id="textareaComments" required="required" name="textarea"
                                          class="form-control col-md-7 col-xs-12"
                                          placeholder="Enter information to be notified and the date of dispatch..."></textarea>
                            </div>
                        </div>
                        <div class="col-md-6 col-sm-6 col-xs-12 col-md-offset-4">
                            <button type="button" id="botton_send_out" value="Refresh Page" ng-click="Send_Out()"
                                    class="btn btn-success">Send
                            </button>
                            <button type="button" value="button" id="close_out" class="btn btn-primary">Close</button>
                        </div>
                    </div>
                </div>
                <!-- Modal Status-->
                <div class="modal fade" id="myModalStatus" tabindex="-1" data-backdrop="static" role="dialog"
                     aria-labelledby="myModalLabel2">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content">
                            <div class="modal-header">

                                <h3 class="modal-title" id="myModalLabel2">Validation Report</h3>
                            </div>
                            <div class="modal-body" id="BodyStatus">
                            </div>
                            <div class="modal-footer">
                                <button type="button" id="close_modal_status" class="btn btn-default close"
                                        data-dismiss="modal" data-ng-click="deleteModalStatus()" data-dismiss="modal">
                                    Close
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Modal Status -->
                <!-- Modal Retrospective-->
                <div class="modal fade" id="myModalRetrospective" data-backdrop="static" tabindex="-1" role="dialog"
                     aria-labelledby="myModalLabel2">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h3 class="modal-title" id="myModalLabel3">View Details</h3>
                            </div>
                            <div class="modal-body" id="BodyRetrospective">
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-default close" data-dismiss="modal"
                                        data-ng-click="deleteModalFeedback()" data-dismiss="modal">Close
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Modal Status -->
            </div>
            <!-- /FIne sending -->


            <!--  FeedBack -->
            <div id="Newfeedback" class="row" ng-controller="createfeedCtrl" ng-show="selected_area===10">
                <!-- Modal -->
                <div class="modal fade" id="myModal" tabindex="-1" role="dialog" data-backdrop="static"
                     aria-labelledby="myModalLabel">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <div class="alert alert-success" role="alert" id="successA">
                                    <a href="#" class="alert-link"><span class="glyphicon glyphicon-ok"></span> Feedback
                                        Inseriti correttamente! </a>
                                </div>
                                <button id="exit" type="button" class="close" data-dismiss="modal"
                                        aria-label="Close"><span
                                        aria-hidden="true">&times;</span></button>
                                <h4 class="modal-title" id="myModalLabel">Add New Retrospective Report</h4>
                            </div>
                            <div class="modal-body" id="ModalWizard">
                                <!-- Smart Wizard // BODY MODAL -->
                                <p>Form for creating the Report of the Retrospective Feedaback </p>
                                <div id="wizard" class="form_wizard wizard_horizontal">

                                    <ul class="wizard_steps">
                                        <li>
                                            <a href="#step-1">
                                                <span class="step_no">1</span>
                                                <span class="step_descr">
		           									Step 1<br/>
		                                        	<small>Step 1 New Feedback </small>
		                                        </span>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="#step-2">
                                                <span class="step_no">2</span>
                                                <span class="step_descr">
		           									Step 2<br/>
		                                        	<small>Step 2 Phases Involved</small>
		                                        </span>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="#step-3">
                                                <span class="step_no">3</span>
                                                <span class="step_descr">
		                                        	Step 3<br/>
		                                             <small>Step 3 Priority</small>
		                                        </span>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="#step-4">
                                                <span class="step_no">4</span>
                                                <span class="step_descr">
					                                Step 4<br/>
					                            	<small>Step 4 Description</small>
					                             </span>
                                            </a>
                                        </li>
                                    </ul>
                                    <div id="step-1">
                                        <h3 style="text-align:center" class="StepTitle">Step 1 Guide</h3>
                                        <h2 style="text-align:center"> Enter the content of the RetrospectiveReport</h2>
                                    </div>
                                    <div id="step-2" style="text-align:center !important">
                                        <h3 class="StepTitle">Step 2 Phases</h3>
                                        <h2>Enter the involved ids from Feedback</h2>
                                        <form class="form-horizontal form-label-left" class="col-lg-4 col-lg-offset-4">
                                            <div class="form-group">
                                                <div>
                                                    <div class="">
                                                        <label>
                                                            <input name="check" value="1" type="checkbox"
                                                                   class="js-switch"/> Phase 1
                                                        </label>
                                                    </div>
                                                    <div class="">
                                                        <label>
                                                            <input name="check" value="2" type="checkbox"
                                                                   class="js-switch"/> Phase 2
                                                        </label>
                                                    </div>
                                                    <div class="">
                                                        <label>
                                                            <input name="check" value="3" type="checkbox"
                                                                   class="js-switch"/> Phase 3
                                                        </label>
                                                    </div>
                                                    <div class="">
                                                        <label>
                                                            <input name="check" value="4" type="checkbox"
                                                                   class="js-switch"/> Phase 4
                                                        </label>
                                                    </div>
                                                    <div class="">
                                                        <label>
                                                            <input name="check" value="5" type="checkbox"
                                                                   class="js-switch"/> Phase 5
                                                        </label>
                                                    </div>
                                                </div>
                                            </div>
                                        </form>
                                    </div>
                                    <div align="center" id="step-3">
                                        <h3 style="text-align:center" class="StepTitle">Step 3 Priority</h3>
                                        <h2 style="text-align:center"> Enter the priority of the Feedback </h2>
                                        <div class="radio">
                                            <label>
                                                <input type="radio" class="flat" value="Alta" id="priority" checked
                                                       name="iCheck">
                                                <h2>Alta</h2>
                                            </label>
                                        </div>
                                        <div class="radio">
                                            <label>
                                                <input type="radio" class="flat" value="Media" id="priority"
                                                       name="iCheck">
                                                <h2> Media </h2>
                                            </label>
                                        </div>
                                        <div class="radio">
                                            <label>
                                                <input type="radio" class="flat" value="Bassa" id="priority"
                                                       name="iCheck">
                                                <h2>Bassa</h2>
                                            </label>
                                        </div>

                                    </div>
                                    <div id="step-4">
                                        <h3 style="text-align:center" class="StepTitle">Step 4 Description </h3>
                                        <h2 style="text-align:center"> Enter the content of the RetrospectiveReport</h2>
                                        <textarea id="textareaID" name="one_feed" class="form-control" rows="6"
                                                  placeholder="Inserisci qui il contenuto. Specificare: tutti i problemi riscontrati e gli interventi da effettuare..."></textarea>
                                    </div>
                                </div>
                                <div class="alert alert-danger" role="alert" id="error_feed">Error! Enter the content
                                </div>
                                <!-- End SmartWizard Content -->
                            </div>
                            <!-- /Modal body -->
                        </div>
                    </div>
                </div> <!-- End modal -->

                <!-- Riepilogo -->
                <div class="row " class="row" id="riepilogo">
                    <!-- Form entire report -->
                    <h1 class="col-md-12 col-sm-12 col-xs-12"> Riepilogo Retrospective Report</h1>
                    <div>
                        <div class="alert alert-danger" role="alert" id="error_conc"><b>Warning!</b> You have not
                            entered all the data !
                        </div>
                        <div class="alert alert-success" id="ok_conc" role="alert"><b>Well done!</b> The Retrospective
                            Feedback was saved successfully!
                        </div>
                        <div class="col-md-12 col-sm-12 col-xs-12">
                            <div class="x_panel">
                                <div class="x_title">
                                    <h2>Feedback included </h2>
                                    <div class="clearfix"></div>
                                </div>
                                <div class="col-md-12 col-sm-12 col-xs-12">
                                    <div class="x_content" id="riepilogo_f">
                                        <!-- Riepilogo Feedback -->
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-12 col-sm-12 col-xs-12">
                            <div class="x_panel">
                                <div class="x_title">
                                    <h2>Name e Version</h2>
                                    <div class="clearfix"></div>
                                </div>
                                <div class="col-md-12 col-sm-12 col-xs-12 form-group">
                                    <input id="version" type="text"
                                           placeholder="Inserisci il nome del Feedback e la versione del elaborato Es. RiduzionePersonale_v.0"
                                           class="form-control">
                                </div>
                            </div>
                            <div class="x_panel">
                                <div class="x_title">
                                    <h2>Creation date
                                        <small>Entire retrospective Report</small>
                                    </h2>
                                    <div class="clearfix"></div>
                                </div>
                                <fieldset>
                                    <div class="control-group">
                                        <div class="controls">
                                            <div class="col-md-12 xdisplay_inputx form-group has-feedback">
                                                <input ="text" class="form-control has-feedback-left" id="single_cal2"
                                                placeholder="Inserisci Data" aria-describedby="inputSuccess2Status2">
                                                <span class="fa fa-calendar-o form-control-feedback left"
                                                      aria-hidden="true"></span>
                                                <span id="inputSuccess2Status2" class="sr-only">(success)</span>
                                            </div>
                                        </div>
                                    </div>
                                </fieldset>
                            </div>
                        </div>
                        <!-- Text area -->
                        <div class="col-md-12 col-sm-12 col-xs-12">
                            <div class="x_panel">
                                <div class="x_title">
                                    <h2>Conclusion
                                        <small>Entire retrospective Report</small>
                                    </h2>
                                    <div class="clearfix"></div>
                                </div>
                                <div class="x_content">
                                    <div id="alerts"></div>
                                    <div class="btn-toolbar editor" data-role="editor-toolbar" data-target="#editor">
                                        <div class="btn-group">
                                            <a class="btn dropdown-toggle" data-toggle="dropdown" title="Font"><i
                                                    class="fa fa-font"></i><b class="caret"></b></a>
                                            <ul class="dropdown-menu">
                                            </ul>
                                        </div>
                                        <div class="btn-group">
                                            <a class="btn dropdown-toggle" data-toggle="dropdown" title="Font Size"><i
                                                    class="fa fa-text-height"></i>&nbsp;<b class="caret"></b></a>
                                            <ul class="dropdown-menu">
                                                <li>
                                                    <a data-edit="fontSize 5">
                                                        <p style="font-size:17px">Huge</p>
                                                    </a>
                                                </li>
                                                <li>
                                                    <a data-edit="fontSize 3">
                                                        <p style="font-size:14px">Normal</p>
                                                    </a>
                                                </li>
                                                <li>
                                                    <a data-edit="fontSize 1">
                                                        <p style="font-size:11px">Small</p>
                                                    </a>
                                                </li>
                                            </ul>
                                        </div>


                                        <div class="btn-group">
                                            <a class="btn" data-edit="bold" title="Bold (Ctrl/Cmd+B)"><i
                                                    class="fa fa-bold"></i></a>
                                            <a class="btn" data-edit="italic" title="Italic (Ctrl/Cmd+I)"><i
                                                    class="fa fa-italic"></i></a>
                                            <a class="btn" data-edit="strikethrough" title="Strikethrough"><i
                                                    class="fa fa-strikethrough"></i></a>
                                            <a class="btn" data-edit="underline" title="Underline (Ctrl/Cmd+U)"><i
                                                    class="fa fa-underline"></i></a>
                                        </div>

                                        <div class="btn-group">
                                            <a class="btn" data-edit="insertunorderedlist" title="Bullet list"><i
                                                    class="fa fa-list-ul"></i></a>
                                            <a class="btn" data-edit="insertorderedlist" title="Number list"><i
                                                    class="fa fa-list-ol"></i></a>
                                            <a class="btn" data-edit="outdent" title="Reduce indent (Shift+Tab)"><i
                                                    class="fa fa-dedent"></i></a>
                                            <a class="btn" data-edit="indent" title="Indent (Tab)"><i
                                                    class="fa fa-indent"></i></a>
                                        </div>

                                        <div class="btn-group">
                                            <a class="btn" data-edit="justifyleft" title="Align Left (Ctrl/Cmd+L)"><i
                                                    class="fa fa-align-left"></i></a>
                                            <a class="btn" data-edit="justifycenter" title="Center (Ctrl/Cmd+E)"><i
                                                    class="fa fa-align-center"></i></a>
                                            <a class="btn" data-edit="justifyright" title="Align Right (Ctrl/Cmd+R)"><i
                                                    class="fa fa-align-right"></i></a>
                                            <a class="btn" data-edit="justifyfull" title="Justify (Ctrl/Cmd+J)"><i
                                                    class="fa fa-align-justify"></i></a>
                                        </div>

                                        <div class="btn-group">
                                            <a class="btn dropdown-toggle" data-toggle="dropdown" title="Hyperlink"><i
                                                    class="fa fa-link"></i></a>
                                            <div class="dropdown-menu input-append">
                                                <input class="span2" placeholder="URL" type="text"
                                                       data-edit="createLink"/>
                                                <button class="btn" type="button">Add</button>
                                            </div>
                                            <a class="btn" data-edit="unlink" title="Remove Hyperlink"><i
                                                    class="fa fa-cut"></i></a>
                                        </div>

                                        <div class="btn-group">
                                            <a class="btn" title="Insert picture (or just drag & drop)" id="pictureBtn"><i
                                                    class="fa fa-picture-o"></i></a>
                                            <input type="file" data-role="magic-overlay" data-target="#pictureBtn"
                                                   data-edit="insertImage"/>
                                        </div>

                                        <div class="btn-group">
                                            <a class="btn" data-edit="undo" title="Undo (Ctrl/Cmd+Z)"><i
                                                    class="fa fa-undo"></i></a>
                                            <a class="btn" data-edit="redo" title="Redo (Ctrl/Cmd+Y)"><i
                                                    class="fa fa-repeat"></i></a>
                                        </div>
                                    </div>
                                    <div id="editor" class="editor-wrapper"></div>
                                    <textarea id="textareaConclusion" name="descr" style="display:none;"></textarea>
                                </div>
                            </div>
                        </div>
                        <!-- /text area -->
                    </div>
                    <!--  Conclusion -->
                    <div class="col-md-12 col-sm-12 col-xs-12">
                        <div class="x_panel">
                            <div class="col-md-6 col-sm-6 col-xs-12 col-md-offset-4">
                                <!--       <button type="submit"  value="Submit" ng-submit="deleteAll()" class="btn btn-primary">Cancel</button>  -->
                                <button type="button" id="save" value="button" class="btn btn-success">Save</button>
                                <button type="button" value="button" id="close_riep" class="btn btn-primary">Close
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- /fine riepilogo -->
            <!-- Inizio View Sending Outcomes -->
            <div class="row" class="row" id="viewSendingO" class="col-md-12 col-sm-12 col-xs-12 col-lg-12"
                 ng-controller="viewSending">
                <div class="x_panel">
                    <div class="x_title">
                        <h3> All Sending Outcomes Posted</h3>
                        <div class="clearfix"></div>
                    </div>
                    <div class="x_content" id="AllSendOut">
                        <div>
                            <table class="table table-striped">
                                <thead>
                                <tr>
                                    <th ng-show="deletesend">Delete</th>
                                    <th>#</th>
                                    <th>Id Report Phase5</th>
                                    <th>Improvement(s)</th>

                                </tr>
                                </thead>
                                <tbody id="AllSendOut1">

                                <tr ng-show="mySending.length === 0">
                                    <td colspan="5" class="table text-center">There are no sending outcomes available</td>
                                </tr>

                                <tr ng-hide="mySending.length === 0" ng-repeat="s in mySending">
                                    <th ng-show="deletesend"><label><input type="radio" class="iradio_flat-green"
                                                                           value={{s.id}} id="send_outDelete"
                                                                           name="iCheck3"></label></th>
                                    <td class=" ">{{$index+ 1}}</td>
                                    <td class=" ">{{s.fileId}}</td>

                                    <td>
                                        <table class="table table-bordered">
                                            <thead>
                                            <tr>
                                                <th>Goal Title</th>
                                                <th>Message</th>

                                            </tr>
                                            </thead>
                                            <tr ng-repeat="impr in s.json.improvementList">
                                                <td class=" ">{{impr.goal.title}}</td>
                                                <td class=" ">{{impr.message}}</td>
                                            </tr>
                                        </table>
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                        <div class="alert alert-danger" role="alert" id="error_delete"><b>Warning!</b> You have not
                            entered the data
                        </div>
                        <div class="alert alert-success" id="ok_delete" role="alert"><b>Well done! Outcomes successfully
                            delete !</b></div>
                        <div class="col-md-6 col-sm-6 col-xs-12 col-md-offset-5">
                            <button type="button" value="button" id="delete_SendOut" ng-click="deleteSendOut()"
                                    class="btn btn-default">Delete
                            </button>
                            <button style="diplay:none" type="button" value="button" id="delete_def"
                                    ng-click="deleteSendDef()" class="btn btn-default">Delete
                            </button>
                        </div>
                    </div>
                </div>
            </div>
            <product-readfeedback ng-controller="readFeedbackCtrl" ng-show="selected_area===4"></product-readfeedback>
            <product-diagram ng-controller="diagramCtrl" ng-show="selected_area===2"></product-diagram>
            <report-dir ng-controller="reportController" ng-show="selected_area===5"></report-dir>
        </div>
    </div>
</div>
</div>
<!-- /page content -->
<!-- footer content -->
<footer style="width:auto;">
    <div class="clearfix"></div>
</footer>
<!-- /footer content -->

<!-- jQuery -->
<script src="templates/vendors/jquery/dist/jquery.min.js"></script>
<!-- Bootstrap -->
<script src="templates/vendors/bootstrap/dist/js/bootstrap.min.js"></script>

<!-- FastClick -->
<script src="templates/vendors/fastclick/lib/fastclick.js"></script>
<!-- NProgress -->
<script src="templates/vendors/nprogress/nprogress.js"></script>
<!-- JQuery smart Wizard -->
<script src="templates/vendors/jQuery-Smart-Wizard/js/jquery.smartWizard.js"></script>
<!-- Chart.js -->
<script src="templates/vendors/Chart.js/dist/Chart.min.js"></script>
<!-- gauge.js -->
<script src="templates/vendors/bernii/gauge.js/dist/gauge.min.js"></script>
<!-- bootstrap-progressbar -->
<script src="templates/vendors/bootstrap-progressbar/bootstrap-progressbar.min.js"></script>
<!-- iCheck -->
<script src="templates/vendors/iCheck/icheck.min.js"></script>
<!-- Skycons -->
<script src="templates/vendors/skycons/skycons.js"></script>
<!-- Flot -->
<script src="templates/vendors/Flot/jquery.flot.js"></script>
<script src="templates/vendors/Flot/jquery.flot.pie.js"></script>
<script src="templates/vendors/Flot/jquery.flot.time.js"></script>
<script src="templates/vendors/Flot/jquery.flot.stack.js"></script>
<script src="templates/vendors/Flot/jquery.flot.resize.js"></script>
<!-- Flot plugins -->
<script src="templates/production/js/flot/jquery.flot.orderBars.js"></script>
<script src="templates/production/js/flot/date.js"></script>
<script src="templates/production/js/flot/jquery.flot.spline.js"></script>
<script src="templates/production/js/flot/curvedLines.js"></script>
<!-- jVectorMap -->
<script src="templates/production/js/maps/jquery-jvectormap-2.0.3.min.js"></script>
<!-- bootstrap-daterangepicker -->
<script src="templates/production/js/moment/moment.min.js"></script>
<script src="templates/production/js/datepicker/daterangepicker.js"></script>
<!-- bootstrap-wysiwyg -->
<script src="templates/vendors/bootstrap-wysiwyg/js/bootstrap-wysiwyg.min.js"></script>
<script src="templates/vendors/jquery.hotkeys/jquery.hotkeys.js"></script>
<script src="templates/vendors/google-code-prettify/src/prettify.js"></script>
<!-- jQuery Tags Input -->
<script src="templates/vendors/jquery.tagsinput/src/jquery.tagsinput.js"></script>
<!-- Switchery -->
<script src="templates/vendors/switchery/dist/switchery.min.js"></script>
<!-- Select2 -->
<script src="templates/vendors/select2/dist/js/select2.full.min.js"></script>
<!-- Parsley -->
<script src="templates/vendors/parsleyjs/dist/parsley.min.js"></script>
<!-- Autosize -->
<script src="templates/vendors/autosize/dist/autosize.min.js"></script>
<!-- jQuery autocomplete -->
<script src="templates/vendors/devbridge-autocomplete/dist/jquery.autocomplete.min.js"></script>
<!-- starrr -->
<script src="templates/vendors/starrr/dist/starrr.js"></script>

<!-- bootstrap-daterangepicker -->
<script src="templates/production/js/moment/moment.min.js"></script>
<script src="templates/production/js/datepicker/daterangepicker.js"></script>

<!-- Custom Theme Scripts -->
<script src="templates/build/js/custom.min.js"></script>

<!--<script src="templates/vendors/chart.js/dist/Chart.min.js"></script>-->


</body>
</html>

