<script type="text/javascript" src="js/diagram_controller.js" xmlns:font-size="http://www.w3.org/1999/xhtml"
		xmlns:font-size="http://www.w3.org/1999/xhtml" xmlns:font-size="http://www.w3.org/1999/xhtml"></script>
<script type="text/javascript" src="canvasjs.min.js"></script>
<script src="templates/vendors/Chart.js/dist/Chart.min.js"></script>
<style>
	#element1 {display:inline-block;
		margin-right:5px ;}
	#element2 {display:inline-block}
	#element3 {display:inline-block; margin-right:5px ;}
	#element4 {display:inline-block}
</style>

<div class="container">
	<h1>Diagram Visualization</h1>
</div>
<div class="container body" ng-app="MyApp" id="container">
	<div>
		<div class="row">
			<h4 class="col-sm-3">Select Goal</h4>
			<div class="col-sm-1"></div>
<!--			<h4 class="col-sm-3">Select Metric</h4> -->
			<div class="col-sm-5"></div>
		</div>
<!-- 	<div class="row">
		<h6 class="col-sm-3">Object of Goal:</h6>
		<div class="col-sm-1"></div>
		<small class="col-sm-3">Description:</small>
		<div class="col-sm-5"></div>
		</div>
-->
		<select class="col-sm-3" id="goalList" ng-change="getSelGoalIndex()" ng-model="goalList"></select>
		<div class="col-sm-1"></div>
		<!-- <select class="col-sm-3" id="metricList" ng-model="metricList"></select>
		<div class="col-sm-2"></div> -->

        <!-- Split button -->
        <div class="btn-group" class="col-sm-3">
       		<button ng-click="getData()" data-toggle="dropdown" class="btn btn-success dropdown-toggle btn-xs" type="button" class="btn btn-success btn-xs" id="viewChart" aria-haspopup="true" aria-expanded="false">View Chart
            	<span class="caret"></span>
            	<span class="sr-only">Toggle Dropdown</span>
          	</button>
          	<ul class="dropdown-menu" role="menu">
            	<li ng-click="createAreaChart()"><a href="#">Area Chart</a>
            	</li>
            	<li ng-click="createLineChart()"><a href="#">Line Chart</a>
            	</li>
            	<li ng-click="createBarChart()"><a href="#">Bar Chart</a>
            	</li>
           <!-- <li><a href="#">Tipo 3</a>
            	</li>  -->
          	</ul>
        </div>
		<br>
		<br>

        <!--
		<input type="text" name="inputTreshold" ng-model="treshold" />
		<button ng-click="insertThreshold()">Insert treshold value!</button>-->
        <br>
        <br>
            <!-- START MODAL -->
           <div class="col-md-offset-3 col-md-9 col-sm-9 col-sm-offset-3 col-xs-12">
		<div class="modal fade" tabindex="-1" role="dialog" id="diagModal" style="z-index: 1050;">
		  <div class="modal-dialog">
		    <div class="modal-content">
		      <div class="modal-header">
		        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
		        <h4 class="modal-title" id="modaleTitle">Would you like to report a mistake?</h4>
		      </div>
		      <div class="modal-body">
			      <p class="col-md-9" id="modaleSubTitle">Select the strategy for which demand a change</p>
			      <!-- ng-mouseover="getSelValData()" ng-click="getSelValData()" ng-change="getSelValData()" -->
			      <select id="strategyList" ng-model="strategyList"></select>
			      <br>
			      <br>
			      <textarea id="comment" class="form-control" rows="4" placeholder="Write a comment"></textarea>
		      </div>
		      <div class="modal-footer">
		        <button type="button" class="btn btn-default btn-md" data-dismiss="modal">Close</button>
		        <button type="button" class="btn btn-success btn-md" ng-click="sendData()">Send</button>
		      </div>
		    </div><!-- /.modal-content -->
		  </div><!-- /.modal-dialog -->
		</div><!-- /.modal -->
		</div>
			<!-- END MODAL -->

		<!-- START MODAL -->
		<div class="col-md-offset-3 col-md-9 col-sm-9 col-sm-offset-3 col-xs-12">
			<div class="modal fade" tabindex="-1" role="dialog" id="improveModal" style="z-index: 1050;">
				<div class="modal-dialog">
					<div class="modal-content">
						<div class="modal-header">
							<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
							<h4 class="modal-title" id="modaleTitleImpr">Would you like to send an improvement?</h4>
						</div>
						<div class="modal-body">
							<textarea id="improvecomment" class="form-control" rows="4" placeholder="Write a suggestion for the improvement of the selected goal"></textarea>
						</div>
						<div class="modal-footer">
							<button type="button" class="btn btn-default btn-md" data-dismiss="modal">Close</button>
							<button type="button" class="btn btn-success btn-md" ng-click="sendImprovement()">Send</button>
						</div>
					</div><!-- /.modal-content -->
				</div><!-- /.modal-dialog -->
			</div><!-- /.modal -->
		</div>
		<!-- END MODAL -->
        <div id="chartContainer" style=" height: 100%; width: 100%;">
			<div class="alert alert-info" style=" height: 100%; width: 100%;">
			<br>
	    	<h1 id="title"></h1>
			<h3 id="interpretationModel"></h3>

			<div class="form-group" ng-if="selGoal.state == 'SUCCESS'">
				<h3 id="element1">Goal validated </h3><div id="element2" class="fa fa-smile-o" style="font-size:30px"></div>
			</div>
			<div ng-if="selGoal.state == 'FAILURE'">
				<h3 id="element3">Goal not validated </h3><div id="element4" class="fa fa-frown-o" style="font-size:30px"></div>
			</div>
			</div>

				<hr>

			<!--  	<p id="strategies"></p>  -->
			<p align="right"><button id="improv" type="button" class="btn btn-success btn-xs" style="height:35px" data-toggle="modal" data-target="#improveModal">Send Improvement</button></p>

			<p ng-repeat-start="metric in metricListVar">
                <!--<input type="text" name="inputTreshold{{metric.id}}" ng-model="treshold" />
                <button ng-click="insertTreshold(metric.id)">Insert treshold value!</button>-->

			<div ng-show="metric.measurements != null" ng-repeat="thr in thresholdList">
				<div style="display:inline-block" ng-show="thr.validated === true && thr.metric === metric.measurementModel.name" class="alert alert-success">
					<h5 style="display:inline-block; margin-right:10px; margin-left:3px">DESIRED: {{thr.metric}} {{thr.conditionTypes}} {{thr.threshold}}</h5> <p style="size:40px; display:inline-block; margin-right:10px" class="fa fa-arrow-right"></p>
					<h4 style="display:inline-block">CONDITION RESPECTED</h4>
				</div>
				<div style="display:inline-block" ng-show="thr.validated === false && thr.metric === metric.measurementModel.name" class="alert alert-danger">
					<h5 style="display:inline-block; margin-right:10px; margin-left:3px">DESIRED: {{thr.metric}} {{thr.conditionTypes}} {{thr.threshold}}</h5> <p style="size:40px; display:inline-block; margin-right:10px" class="fa fa-arrow-right"></p>
					<h4 style="display:inline-block">CONDITION NOT RESPECTED</h4>
				</div>
			</div>


				<canvas id="lineChart{{metric.id}}" ng-show="line && metric.measurements != null"></canvas>
				<canvas id="areaChart{{metric.id}}" ng-show="area && metric.measurements != null"></canvas>
				<canvas id="barChart{{metric.id}}" ng-show="bar && metric.measurements != null"></canvas>
			<p ng-repeat-end> </p>
			</p>

		    <p id="strategies"></p>
			<br><br>
			<h1 id="modeltitle"></h1>
			<p id="intmodel" style="border-style:groove; color:#000000; font-size:40px"></p>
    	</div>
    </div>

  <!-- 			  -->

</div>