<script type="text/javascript" src="js/feedback_controller.js"></script>
<div id="readFeedbackContainer">
<div class="col-md-6 col-sm-6 col-xs-12" style="height:auto;" id="{{arrComplete[$index].retrospectiveReportId}}" ng-repeat="date in arrComplete track by $index">
<div class="x_panel">
	<div class="x_title" id="{{'title'+$index}}">
	  <h2 id={{$index}} ng-click="expandDate($event)"><i class="fa fa-align-left"></i>{{date.lastModified}}</h2> 	
	  <ul class="nav navbar-right panel_toolbox">
		  <!-- $event -->
	    <li><a ng-click="deleteRetRep($index)"class="close-link" id="{{'close'+$index}}"><i class="fa fa-close"></i></a>
	    </li>
	  </ul>
	 <div class="clearfix"></div>
	</div>
	<div class="x_content" style="display: block;" id="{{'content'+$index}}">
	<!-- start accordion -->
		<div class="accordion" id="{{'accordion1' + $index}}" role="tablist" aria-multiselectable="true">
			<div class="panel">			
			<!-- Sotto: ho tolto data-toggle="collapse" -->
			    <a ng-click="extendPanels($event)" class="panel-heading" role="tab" id="{{'headingOne1' + $index}}"  data-parent="#{{'accordion1' + $index}}" href="#collapseOne1" aria-expanded="false" aria-controls="collapseOne" aria-expanded="true">
			      <h4 class="panel-title" id="{{'headingOne1' + $index}}">High</h4>
			    </a>
			    <div id="{{'collapseOne1'+$index}}" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingOne"> <!--  -->
				    <div class="panel-body">
				      <table class="table table-striped" id="{{'table1'+$index}}">
				        <thead>
				          <tr>
				            <th>Phases</th>
				            <th>Description</th>
				          </tr>
				        </thead>
				        <tbody>
				          <tr><!-- ng-repeat="retRep in arrComplete track by $index" ng-show= "$index <=4" -->
				            <th scope="row">{{retRep.ids}}</th>
				            <td>{{retRep.descriptionList}}</td>
				          </tr>
			        	</tbody>
				      </table>
				    </div>
			 	</div>
			</div>
			<div class="panel">
			   <a ng-click="extendPanels($event)" class="panel-heading" role="tab" id="{{'headingTwo1'+$index}}" data-parent="#{{'accordion1' + $index}}" href="#collapseTwo1" aria-expanded="false" aria-controls="collapseTwo">
			     <h4 class="panel-title" id="{{'headingTwo1'+$index}}">Medium</h4>
			   </a>
			   <div id="{{'collapseTwo1'+$index}}" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo" aria-expanded="false">
			   <div class="panel-body">
				      <table class="table table-striped" id="{{'table2'+$index}}">
				        <thead>
				          <tr>
				            <th>Phases</th>
				            <th>Description</th>
				          </tr>
				        </thead>
				        <tbody>
				          <tr><!-- ng-repeat="retRep in arrComplete track by $index" ng-show= "$index <=4" -->
				            <th scope="row">{{retRep.ids}}</th>
				            <td>{{retRep.description}}</td>
				          </tr>
			        	</tbody>
				      </table>
				    </div>
				   </div>
			 </div>
			<div class="panel">
			   <a ng-click="extendPanels($event)" class="panel-heading" role="tab" id="{{'headingThree1'+$index}}" data-parent="#{{'accordion1' + $index}}" href="#collapseThree1" aria-expanded="false" aria-controls="collapseTwo">
			     <h4 class="panel-title" id="{{'headingThree1'+$index}}">Low</h4>
			   </a>
			   <div id="{{'collapseThree1'+$index}}" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThree" aria-expanded="false">
			   <div class="panel-body">
				      <table class="table table-striped" id="{{'table3'+$index}}">
				        <thead>
				          <tr>
				            <th>Phases</th>
				            <th>Description</th>
				          </tr>
				        </thead>
				        <tbody>
				          <tr><!-- ng-repeat="retRep in arrComplete track by $index" ng-show= "$index <=4" -->
				            <th scope="row">{{retRep.ids}}</th>
				            <td>{{retRep.description}}</td>
				          </tr>
			        	</tbody>
				      </table>
				    </div>
				   </div>
			 </div>
		</div>
<!-- end of accordion -->  <!-- col-md-9 col-sm-9 col-xs-12 -->
	<div class="panel-heading" id="{{'divConcl' + $index}}">
       <textarea readonly class="resizable_textarea form-control" id="{{'conclusion'+$index}}" style="overflow: hidden; word-wrap: break-word; resize: vertical; height: 54px;">Conclusion:</textarea>
    </div>
	</div>
	</div>
</div>
</div>