textarea:focus{
  
    border: 1px solid #8080ff !important;
}

 #riepilogo{
 	display:none;
 }
 
 #viewSendingO{
 	display:none;
 }
 
  #successA{
 	display:none;
 }
 
 #error_feed{
 	display:none;
 }  
 
 .tags{
 	width: 96px !important;
 }
  
 #error_out{
 	display:none;
 }  
#error_delete{
 	display:none;
}  
 #ok_delete{
 	display:none;
 }  
 
 #send_out{
 	display:none;
 }
 #ok_out{
 	display:none;
 }
 
#delete_def{
	display:none;
}
#no_status{
 	display:none;
 }  
 

