<script type="text/javascript" src="js/final_report_controller.js"></script>
<div class="container body" ng-app="MyApp" id="repContainer" ng-if="finalReport != ''">
<div class="panel panel-primary">
    <div class="panel-heading">View Final Report from phase 6</div>
    <div class="panel-body">
        <form name="createForm" role="form"></form>
    </div>
    <div class="form-group" style="margin-left:2em; margin-right:2em">
        <label>Data Modified:</label> <div> <p ng-bind-html="finalReport.dataModified"></p>
    </div>
    </div>
    <div class="form-group" style="margin-left:2em; margin-right:2em">
        <label>New Proposals:</label> <div> {{finalReport.newProposals}}</div>
    </div>
    </div>


</div>
<div class = "alert alert-warning" ng-if="finalReport == ''">
    <div style="margin-left:3em; margin-right:2em">
        <h4>No  Final Report found</h4>
    </div>
</div>